<div class="container">
  <div class="row mb-3">
    <div class="col-md-6 col-sm-12">
      <div class="card p-2">
        <div class="card-body">
          <h5 class="card-title"><%= current_user.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= current_user.id %></h6>
          <p class="card-text"><%= current_user.email %></p>
          <p class="card-text"><%= "관리중인 서버 : #{current_user.servers.size}" %></p>
          <%= link_to "정보 수정", edit_user_registration_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
  <h3>계정</h3>
  <div class="row row-cols-md-3 row-cols-sm-1 mb-3 g-2 gx-2">
    <% @accounts.map do |account| %>
      <div class="col">
        <div class="<%= "card rounded p-2 border-3 #{account.amount > 0 ? 'border-danger' : 'border-primary'}" %>">
          <div class="card-body">
            <%= render "accounts/account", account: account %>
            <%= link_to "이력 보기", account_path(account), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>